<%- include('header') %>


    <main class="p-4">
        <div class="d-flex align-items-center">
            <a href="/" class="text-decoration-none text-dark d-inlne-block mx-2 activeCategory">All news</a> /
            <a href="/?catId=<%= singleNews.categoryId.id %>" class="text-decoration-none text-dark d-inlne-block mx-2 activeCategory"><%= singleNews.categoryId.categoryName %></a>
            / <a href="" class="text-decoration-none text-dark d-inlne-block mx-2"><%= singleNews.title %></a>
        </div>
        <div class="row mt-4 g-4">
            <div class="col-md-6">
                <img src="<%= singleNews.blog_image %>" alt="coverImage" alt="coverImage" width="100%">
                <h2><%= singleNews.title %></h2>
            </div>
            <div class="col-md-6">
                <div class="border border-2 border-secondary p-2">
                    <h5 class="mb-3 mt-1">Recent Blogs</h5>
                    <% recentBlog.map((item)=>{ %>  
                        <a href="/singleNews/<%= item.id %>" class="nav-link">
                            <div class="d-flex my-2">
                                <img src="<%= item.blog_image %>" alt="coverImage" alt="coverImage" width="140px" />
                                <div class="ms-2">
                                    <h5><%= item.title %></h5>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>
        <p style="text-indent:70px;"><%- singleNews.description %></p>

        <!-- commets  -->
        <div class="border-top pt-3  border-secondary">
            <div class="comment col-md-7">
                <form method="post" action="/addComment" class="d-flex">
                    <input type="hidden" name="blogId" value="<%= singleNews.id %>"  />
                    <input type="hidden" name="userId" value="<%= locals.userData? locals.userData._doc._id:'' %>"  />
                    <input type="text" name="comment" placeholder="comment Here" class="form-control" />
                    <button type="submit" class="btn ms-2">Comment</button>
                </form>
            </div>
            <div class="my-4" id="allComments">
                <% allComments.map((item)=>{ %>
                    <div class="d-flex my-3">
                        <div class="profile_image" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="<%= item.userId.profile_image %>" alt="profileImage" alt="profileImage" width="100%" class="rounded-circle img-fluid" />
                        </div>
                        <div class="ms-3">
                            <h6 class="m-0"><%= item.userId.name %>
                                <% if(locals.userData && JSON.stringify(locals.userData._doc._id) == JSON.stringify(item.userId._id)) { %> 
                                    <a href="/deleteComment/<%= item.id %>" class="ms-2" style="font-size: 14px;" ><i class="fa-solid fa-trash"></i></a>
                                <% } %> 
                            </h6>
                            <p class="mb-2"><%= item.comment %></p>
                            <p style="font-size: 12px;" class="text-secondary"><%= item.time %></p>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void()" class="nav-link me-4" onclick="likeComment(`<%= item._id %>`,`<%= singleNews._id %>`)">
                                    <% if(item.likes.includes(locals.userData && locals.userData._doc._id)) { %>
                                        <i class="fa-solid fa-thumbs-up text-primary mx-2"></i>
                                    <% }else{ %>   
                                        <i class="fa-regular fa-thumbs-up"></i> 
                                    <% } %>    
                                    <span><%= item.likes.length %></span>
                                </a>
                                <a href="javascript:void()" class="nav-link" onclick="dislikeComment(`<%= item._id %>`,`<%= singleNews._id %>`)">
                                    <% if(item.dislikes.includes(locals.userData && locals.userData._doc._id)) { %>
                                        <i class="fa-solid fa-thumbs-down text-primary"></i>
                                    <% }else{ %>   
                                        <i class="fa-regular fa-thumbs-down"></i> 
                                    <% } %>    
                                    <span><%= item.dislikes.length %></span>
                                </a>
                            </div>
                        </div>
                    </div>
                <% })%>  
            </div>
        </div>
        <!-- end commets  -->
    </main>
    

<%- include('footer') %>

<script>
    function likeComment(id,blogId){
        console.log(id)
        console.log(blogId)
        '<% if(!locals.userData){ %>'
            window.location.href=`/userLogin`;
            return;
        '<%  } %>'

        $.ajax({
            type:'GET',
            url:`/likeComment/${id}/${blogId}`,
            success:(res)=>{
                console.log(res);
                let ihtml = '';
                res.map((item)=>{
                    ihtml+= `
                         <div class="d-flex my-3">
                        <div class="profile_image" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="${item.userId.profile_image }" alt="profileImage" alt="profileImage" width="100%" class="rounded-circle img-fluid" />
                        </div>
                        <div class="ms-3">
                            <h6 class="m-0">
                                ${ item.userId.name}
                                ${ '<%- locals.userData && JSON.stringify(locals.userData._doc._id)%>' === JSON.stringify(item.userId._id)?
                                   ` <a href="/deleteComment/${item._id}" class="ms-2" style="font-size: 14px;">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>`:''
                                } 
                            </h6>
                            <p class="mb-2">${item.comment}</p>
                            <p style="font-size: 12px;" class="text-secondary">${item.time}</p>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void()" class="nav-link me-4" onclick='likeComment(${JSON.stringify(item._id)},${JSON.stringify(blogId)})'>
                                    ${ item.likes.includes('<%- locals.userData && locals.userData._doc._id %>')?
                                    `<i class="fa-solid fa-thumbs-up text-primary"></i>`:'<i class="fa-regular fa-thumbs-up"></i> '
                                    }    
                                    <span>${item.likes.length}</span>
                                </a>
                                <a href="javascript:void()" class="nav-link me-4" onclick='dislikeComment(${JSON.stringify(item._id)},${JSON.stringify(blogId)})'>
                                    ${ item.dislikes.includes('<%- locals.userData && locals.userData._doc._id %>')?
                                    `<i class="fa-solid fa-thumbs-down text-primary"></i>`:'<i class="fa-regular fa-thumbs-down"></i> '
                                    }    
                                    <span>${item.dislikes.length}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    `
                })

                document.querySelector('#allComments').innerHTML = ihtml;
            },
            error:(err)=>{
                console.log("Something Wrong",err);
            }
        })
    }


    
    function dislikeComment(id,blogId){
        console.log(id)
        '<% if(!locals.userData){ %>'
            window.location.href='/userLogin';
            return;
        '<%  } %>'

        $.ajax({
            type:'GET',
            url:`/dislikeComment/${id}/${blogId}`,
            success:(res)=>{
                console.log(res);
                let ihtml = '';
                res.map((item)=>{
                    ihtml+= `
                         <div class="d-flex my-3">
                        <div class="profile_image" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="${item.userId.profile_image }" alt="profileImage" alt="profileImage" width="100%" class="rounded-circle img-fluid" />
                        </div>
                        <div class="ms-3">
                            <h6 class="m-0">
                                ${ item.userId.name}
                                ${ '<%- locals.userData && JSON.stringify(locals.userData._doc._id)%>' === JSON.stringify(item.userId._id)?
                                   ` <a href="/deleteComment/${item._id}" class="ms-2" style="font-size: 14px;">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>`:''
                                } 
                            </h6>
                            <p class="mb-2">${item.comment}</p>
                            <p style="font-size: 12px;" class="text-secondary">${item.time}</p>
                            <div class="d-flex align-items-center">
                                <a href="javascript:void()" class="nav-link me-4" onclick='likeComment(${JSON.stringify(item._id)},${JSON.stringify(blogId)})'>
                                    ${ item.likes.includes('<%- locals.userData && locals.userData._doc._id %>')?
                                    `<i class="fa-solid fa-thumbs-up text-primary"></i>`:'<i class="fa-regular fa-thumbs-up"></i> '
                                    }    
                                    <span>${item.likes.length}</span>
                                </a>
                                <a href="javascript:void()" class="nav-link me-4" onclick='dislikeComment(${JSON.stringify(item._id)},${JSON.stringify(blogId)})'>
                                    ${ item.dislikes.includes('<%- locals.userData && locals.userData._doc._id %>')?
                                    `<i class="fa-solid fa-thumbs-down text-primary"></i>`:'<i class="fa-regular fa-thumbs-down"></i> '
                                    }    
                                    <span>${item.dislikes.length}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    `
                })

                document.querySelector('#allComments').innerHTML = ihtml;
            },
            error:(err)=>{
                console.log("Something Wrong",err);
            }
        })
    }
</script>