
<%- include('../Layouts/header') %>



      <!--end::Sidebar-->
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Add Blog</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="/dashBoard">DashBoard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">addBlog</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
              <!--begin::Col-->
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-8 mx-auto">
                <!--begin::Quick Example-->
               
                <!--end::Quick Example-->
                <!--begin::Input Group-->
               
                <!--end::Input Group-->
                <!--begin::Horizontal Form-->
                <div class="card card-primary card-outline mb-4">
                  <!--begin::Header-->
                  <div class="card-header"><div class="card-title">Add Blog</div></div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <form method="post" action="/blog/editBlog" enctype="multipart/form-data">
                    <input type="hidden" value="<%= singleBlog.id %>" name="id" />
                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-3 col-form-label pt-0">Select Category</label>
                            <div class="col-sm-9">
                                <select class="form-select" name="categoryId" id="validationCustom04" required>
                                    <option value="">-- Select Category</option>
                                    <% allCategory.map((item)=>{ %>
                                        <option value="<%= item.id %>" <%= singleBlog.categoryId == item.id?'selected':'' %>><%= item.categoryName %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                      <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                          <input type="text" name="title" class="form-control" value="<%= singleBlog.title %>" id="inputEmail3" />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Image</label>
                        <div class="col-sm-9">
                          <input type="file" name="blog_image" class="form-control" id="inputEmail3" />
                          <img src="<%= singleBlog.blog_image %>" alt="coverIamage" title="coverIamage" width="140px" class="img-fluid my-3">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea name="description" class="form-control"><%- singleBlog.description %></textarea>
                        </div>
                      </div>

                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer text-center">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <!--end::Footer-->
                  </form>
                  <!--end::Form-->
                </div>
                <!--end::Horizontal Form-->
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <!--begin::Footer-->
      


<%- include('../Layouts/footer') %>

<!-- timymce text editor  -->
<script src="https://cdn.tiny.cloud/1/kntra79mc20wfd1jep9yy03eosfc26mudrgz5hzrxsufrsdh/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: [
      // Core editing features
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
      // Your account includes a free trial of TinyMCE premium features
      // Try the most popular premium features until Feb 5, 2025:
      'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
    ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
  });
</script>

<!--end timymce text editor  -->